.rsvp-form {
    font-family: "Slabo 27px", serif;
  font-weight: 400;

  font-style: normal;
  text-align: center;
  padding: 40px 20px;
  background-color: var(--fundo-meio);
  border-top: 1px solid #eee;
  border-radius: 0px 0px 16px 16px
}
.checkbox{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.rsvp-form h2 {
  color: #333;
  margin-bottom: 20px;
}

.rsvp-form p {
  color: #666;
  margin-bottom: 30px;
}
.rsvp-form i {
  color: #666;
  margin-bottom: 20px;
}

.rsvp-form form {
  font-size: 1.3rem;
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  background-color: var(--fundo-meio);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  text-align: left;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;

  color: #555;
  margin-bottom: 8px;
  font-weight: bold;
}

.name-input-group {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.name-input-group .p-inputtext {
  flex-grow: 1;
}


.form-group input[type="text"],
.form-group input[type="number"],
.form-group textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box; /* Include padding in width */
}

.form-group textarea {
  resize: none;
}

.radio-group {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.radio-group input[type="radio"] {
  margin-right: 5px;
}

.radio-group label {
  font-weight: normal;
  display: inline-block;
  margin-bottom: 0;
}

.rsvp-form, .butaon, .inputEnviar{
  color: white;
  padding: 14px 25px;
  border: none;
  border-radius: 4px;
  font-size: 1.1em;
  font-weight: bold;
  transition: background-color 0.3s ease;
  width: 100%;
}

.rsvp-form .inputEnviar {
  background-color: #358cff; /* Marrom escuro */
}

.rsvp-form .inputEnviar:hover {
  background-color: #2861ac; /* Marrom um pouco mais escuro no hover */
}

.inputtexto{
  height: 48px;
  width: 100%;
}
.butaoCancelar{
  height: 48px;
}
.imagemFabulosa{
  width: 200px;
}
.bolo{
  width: 128px;
}

@media (max-width: 768px) {
  .rsvp-form {
    padding: 30px 15px;
  }
  .rsvp-form form {
    padding: 20px;
  }

  .radio-group {
    flex-direction: column;
    gap: 15px;
  }
  .checkbox {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
  .imagemFabulosa{
  width: 100px;
}
.bolo{
  width: 64px;
}


}
