.rsvp-form {
  text-align: center;
  padding: 40px 20px;
  background-color: var(--fundo-meio);
  border-top: 1px solid #eee;
  border-radius: 0px 0px 16px 16px
}
.checkbox{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.rsvp-form h2 {
  font-family: 'Playfair Display', serif;
  font-size: 2.5em;
  color: #333;
  margin-bottom: 20px;
}

.rsvp-form p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  color: #666;
  margin-bottom: 30px;
}
.rsvp-form i {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: #666;
  margin-bottom: 20px;
}

.rsvp-form form {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  background-color: var(--fundo-meio);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  text-align: left;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: #555;
  margin-bottom: 8px;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  box-sizing: border-box; /* Include padding in width */
}

.form-group textarea {
  resize: none;
}

.radio-group {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.radio-group input[type="radio"] {
  margin-right: 5px;
}

.radio-group label {
  font-weight: normal;
  display: inline-block;
  margin-bottom: 0;
}

.rsvp-form button {
  background-color: #358cff; /* Marrom escuro */
  color: white;
  padding: 14px 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  transition: background-color 0.3s ease;
  width: 100%;
}

.rsvp-form button:hover {
  background-color: #2861ac; /* Marrom um pouco mais escuro no hover */
}

@media (max-width: 768px) {
  .rsvp-form {
    padding: 30px 15px;
  }

  .rsvp-form h2 {
    font-size: 2em;
  }

  .rsvp-form form {
    padding: 20px;
  }

  .radio-group {
    flex-direction: column;
    gap: 15px;
  }
}