.info {
  margin-bottom: 30px;
  padding: 20px;

  border-radius: 8px;
  display: inline-block;
  width: 100%;
  max-width: 640px; 
}

.info h3 {
  color: #555;
  margin-bottom: 15px;
}

.info p {
  color: #777;
  line-height: 1.6;
}

.info a {
  color: #a0522d;
  text-decoration: none;
  font-weight: bold;
}

.info a:hover {
  text-decoration: underline;
}

.calendario{
  width: 600px;
  
}

@media (max-width: 768px) {
 .calendario{
  padding: 16px 0 0 0;
  width: 300px;
}
}