.event-details {
  text-align: center;
  padding: 40px 20px;
  border-radius: 16px 16px 0px 0px;
  background-color: var(--fundo-meio);
}

.event-details h2 {
  color: #333;
  margin-bottom: 30px;
}

.detail-item {
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 8px;
  display: inline-block; /* Para centralizar blocos */
  width: 100%;
  max-width: 500px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background-color: #fff;
}

.detail-item h3 {
  color: #555;
  margin-bottom: 15px;
}

.detail-item p {
  color: #777;
  line-height: 1.6;
}

.detail-item a {
  color: #a0522d; /* Um tom de marrom para links */
  text-decoration: none;
  font-weight: bold;
}

.detail-item a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .event-details {
    padding: 30px 15px;
  }
  .detail-item {
    padding: 15px;
  }

}