.loginPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        padding: 16px;
    margin: 34px;
    background-color: #f4f4f4;
}

.loginCard {
    padding: 16px;
    margin: 34px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.cardHeader {
    text-align: center;
}

input, button{
    height: 34px;
    margin: 8px 0 8px 0;
}
/* Overriding some PrimeReact styles for a cleaner look */
.p-field {
    margin-bottom: 1.5rem;
}

.p-float-label label {
    color: #6c757d;
}
