.header {
  text-align: center;
  padding: 40px 20px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #eee;
}
.imagemRing{
  height: 48px;
}

.header h1 {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 5rem;
  color: #333;
  margin-bottom: 10px;
}

.header p {
  font-family: 'Open Sans', sans-serif; /* Exemplo de fonte para corpo de texto */
  font-size: 1.2em;
  color: #666;
}
.imagemRings{
  width: 128px;
}
@media (max-width: 768px) {
  .header {
    padding: 30px 15px;
  }

  .header h1 {
    font-size: 1.2em;
    font-size: 3.2rem;
  }

  .header p {
    font-size: 1.1em;
  }
  .imagemRings{
  width: 80px;
}
}