
.suggestions h3 {
  color: #555;
  margin-bottom: 15px;
}

.suggestions p {
  color: #777;
  line-height: 1.6;
}

.ClothingSuggestions {
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 8px;
  display: inline-block;
  width: 100%;
  max-width: 640px; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background-color: var(--fundo-meio);
}

.coresContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}