.footer {
  text-align: center;
  padding: 30px 20px;
  background-color: #333;
  color: #fff;
  font-size: 0.9em;
  margin-top: 50px; /* Adiciona um pouco de espaço acima do footer */
}

.footer p {
    font-size: 1rem;
  margin: 5px 0;
}