.App {
  text-align: center;
}

main {
  padding: 2rem 1rem;
}

.scroll-to-rsvp-button {
  position: fixed;
  height: 48px;
  width: 264px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8) translateX(-50%);
  }
  to {
    opacity: 1;
    transform: scale(1) translateX(-50%);
  }
}

/* Media Query for Mobile */
@media (max-width: 768px) {
  .scroll-to-rsvp-button {
    width: auto; /* Let the button size to its content */
    left: auto; /* Unset left property */
    transform: none; /* Unset transform */
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.8) translateX(-50%);
    }
    to {
      opacity: 1;
      transform: scale(1) translateX(-50%);
    }
  }
}
