:root {
  --fundo-meio: #f9f9f9de;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Open+Sans:wght@300;400;600&display=swap');

.tangerine-regular {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
}

.tangerine-bold {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
}

.slabo-27px-regular {
  font-family: "Slabo 27px", serif;
  font-weight: 400;
  font-style: normal;
}



/* Reset de CSS básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  color: #333;
  background-color: #f5f5f5; /* Fallback color */
  background-image: url('/convite.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Estilos globais para a aplicação */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.8); /* Overlay branco semi-transparente para legibilidade */
}

main {
  flex: 1;
  width: 100%;
  max-width: 960px; /* Largura máxima para o conteúdo principal */
  margin: 20px auto; /* Centraliza o conteúdo principal e adiciona margem */
  padding: 0 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  margin-bottom: 0.5em;
  color: #333;
}

a {
  color: #a0522d;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
p{
    font-family: "Slabo 27px", serif;
  font-weight: 700;
  font-style: normal;
}
/* Media Query for Mobile */
@media (max-width: 768px) {
  main {
    padding: 0 15px;
    margin: 10px auto;
  }

  h1 {
    font-size: 2.5em; /* Ajuste para mobile */
  }

  h2 {
    font-size: 2em; /* Ajuste para mobile */
  }
}